<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.karanraj.chauhan.courseplanner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BUzztracker"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PacerActivity"
            android:label="Pacer"/>

        <activity android:name=".SoberUpActivity"
                android:label="Sober Up!"/>

        <activity android:name=".ResourcesActivity"
                  android:label="Resources"/>

        <activity
            android:name=".ResultsActivity"
            android:label="Results"/>
        <activity
            android:name=".AboutUsActivity"
            android:label="About Us"/>



    </application>

</manifest>